{% extends "base.html" %}
{% block title %}
    StonX - Hjelp
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Hvordan få transaksjonsfil fra Nordnet</h1>
        <hr class="my-4">
        <ol>
            <a href="https://www.nordnet.no/transactions"><li>Følg denne lenken (nordnet.no/transactions)</li></a>
            <li>Hvis du ikke er innlogget, logg inn</li>
            <li>Sett dato til perioden du ønske å beregne</li>
            <li>Øverst til høyre, trykk på 'Excel'</li>
            <li>Filen din blir lastet ned</li>
        </ol>
    <a class="btn btn-outline-primary" href="/" role="button">Gå tilbake</a>
    </div>
{% endblock %}
