{% extends "base.html" %}
{% block title %}
    StonX
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4">Last opp transaksjonsfil</h1>
        <hr class="my-4">
        <form class="d-flex" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="jumbotron">
                <input type="file" class="form-control" name="uploaded_file" />
                <br>
                <br>
                <p>{{ errormsg }}</p>
                <button class="btn btn btn-primary w-100" type="submit">Last opp</button>
                <br>
                <br>
                <a class="btn btn-outline-primary" href="/help" role="button">Hjelp</a>
            </div>
        </form>
    </div>
{% endblock %}
