{% extends "base.html" %}
{% block title %}
    StonX - Last opp
{% endblock %}

{% block content %}
    <div class="container">

        <h2>{{status}}</h2>

        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}

        <p>Total verdi: {{ total_value }}</p>
        <p>Sum innskudd: {{ deposits }}</p>
        <p>Sum uttak: {{ withdrawals }}</p>
        <a class="btn btn-outline-primary w-45" href="/" role="button">Gå tilbake</a>
        <a class="btn btn-primary w-45" href="#" role="button">Gå videre</a>
        <br>
        <br>
    </div>
{% endblock %}
